Header set Access-Control-Allow-Origin: "*"
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept,application/json, *"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php